ROLE=mirror
TRADING_MODE=paper
CODE_ROOT=/home/htpc/backtrader-prod
ACCOUNT_ENV=/home/htpc/.config/backtrader/accounts/mirror.env
STRATEGY_CONFIG=config-common/scheduled/strategies/overnight-ah-prod.env
RUN_ID=overnight_ah_mirror
