[Unit]
Description=Backtrader API
After=network-online.target

[Service]
WorkingDirectory=/home/htpc/backtrader/bt-api
EnvironmentFile=/home/htpc/backtrader/env/bt-api-dev
ExecStart=/home/htpc/backtrader/bt-api/start.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
