[Unit]
Description=Alpaca ZMQ Proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/htpc/backtrader/bt-gateway/bt_alpaca_zmq

# Versione corretta con attivazione virtualenv
ExecStart=/bin/bash -c 'source ../env/zmq && exec ../.venv/bin/python ./alpaca_zmq_proxy.py --log-level=INFO'

# Gestione dei log (alternativa più pulita)
StandardOutput=append:/home/htpc/backtrader/logs/zmq.log
StandardError=append:/home/htpc/backtrader/logs/zmq.log

# Politica di riavvio
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
